@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #ed3c6a;
  --color-brand-gray: #1e1e1e;
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --shadow-primary: 0 5px 10px -3px var(--color-primary);
  --shadow-custom-pink: 0 4px 30.3px 0 rgba(255, 138, 168, 0.28);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

@utility container {
  @apply max-w-[1280px] mx-auto px-4;
}

/* animation of home page trusted brand */
@keyframes scroll-left-smooth {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right-smooth {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Smooth continuous scroll */
.animate-scroll-left-smooth {
  animation: scroll-left-smooth 25s linear infinite;
  will-change: transform;
}

.animate-scroll-right-smooth {
  animation: scroll-right-smooth 25s linear infinite;
  will-change: transform;
}
