@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-brand-accent: #ED3C6A;
  --color-brand-gray: #1e1e1e;
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --shadow-primary: 0 5px 10px -3px var(--color-brand-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}
